@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins/_breakpoints";
@import "../customVariables";

// xs Media Query
@include media-breakpoint-up(xs) {
    .NavbarBackground {
        background-color: black;
        z-index: 5;  
    }
    .NavbarLink {
        color: white!important;
        outline: none!important;
        font-size: 1.1rem;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        white-space: nowrap;
        text-decoration: none!important;
        a {
            text-align: center;
            outline: none!important;
            position: relative;
            text-decoration: none!important;
            color: white!important;
            padding-bottom: 0.2rem;
            &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 0.3rem;
                bottom: -0.5rem;
                left: 0;
                background-image: linear-gradient(to right, $DarkOrange, $LightOrange);
                visibility: hidden;
                transform: scaleX(0);
                transition: all .3s ease-in-out 0s;    
            }
            &:hover:before {
                visibility: visible;
                transform: scaleX(1);
                border-radius: 2rem;
              }
        }
        
    }
    .DefaultServices {
        display: none;
    }
    .MobileServices {
        display: inline-block;
    }

}

// xl Media Query
@include media-breakpoint-up(xl) {
    .DefaultServices {
        display: inline-block;
    }
    .MobileServices {
        display: none;
    }
    .NavbarBackground {
        background-color: black;
        z-index: 5;  
        
    }
    .NavbarLink {
        color: white!important;
        outline: none!important;
        font-size: 1.1rem;
        padding-left: 1.2rem;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        white-space: nowrap;
        text-decoration: none!important;
        margin-bottom: -7rem;
        
        a {
            outline: none!important;
            position: relative;
            text-decoration: none!important;
            color: white!important;
            padding-bottom: 0.8rem;
            &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 0.3rem;
                bottom: -0.5rem;
                left: 0;
                background-image: linear-gradient(to right, $DarkOrange, $LightOrange);
                visibility: hidden;
                transform: scaleX(0);
                transition: all .3s ease-in-out 0s;    
            }
            &:hover:before {
                visibility: visible;
                transform: scaleX(1);
                border-radius: 2rem;
              }
        }
    }
    .DropdownChildren{
        .DropdownElementParents {
            outline: none!important;
            text-decoration: none;
            .DropdownElements {
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            position: relative;
            text-decoration: none!important;
            color: white!important;
            outline: none!important;
            &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 0.3rem;
                bottom: -0.5rem;
                left: 0;
                background-image: linear-gradient(to right, $DarkOrange, $LightOrange);
                visibility: hidden;
                transform: scaleX(0);
                transition: all .3s ease-in-out 0s;    
            }
            &:hover:before {
                visibility: visible;
                transform: scaleX(1);
                border-radius: 2rem;
              }
            
            }
        }
        
    }
    
    .Logo {
        padding-left: 3rem;
        outline: none!important;
        padding-right: 1rem;
    }
}