@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins/_breakpoints";
@import "../customVariables";

// xs Media Query
@include media-breakpoint-up(xs) {
    .NavbarBackground {
        background-color: black;
        z-index: 5;  
    }
    .NavbarLink {
        color: white;
    }
}

// lg Media Query
@include media-breakpoint-up(xl) {
    .NavbarBackground {
        background-color: black;
        z-index: 5;  
        
    }
    .NavbarLink {
        color: white!important;
        outline: none!important;
        font-size: 1.1rem;
        padding-left: 1.2rem;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        white-space: nowrap;
        text-decoration: none!important;
        span:hover {
            color: white!important;
            padding-bottom: 3.2rem;
            border-bottom: solid 4px;
            border-image: linear-gradient(to right, $LightOrange, $DarkOrange) 1;
        }
    }
    .Logo {
        padding-left: 3rem;
        outline: none!important;
        padding-right: 1rem;
    }
}