.S1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1;
      grid-template-columns: 1;
  -ms-grid-rows: 1;
      grid-template-rows: 1;
}

.S1 img {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.S1 .S1TextContainer {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10% 50% 25%;
      grid-template-rows: 10% 50% 25%;
}

.S1 .S1TextContainer .S1Text {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 2;
      grid-row-start: 2;
  padding-left: 1.3rem;
}

.S1 .S1TextContainer .S1Text span {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 10vw;
  white-space: nowrap;
  padding-bottom: 1rem;
}

.Button {
  font-size: 3.5vw !important;
  padding-left: 3vw !important;
  padding-right: 3vw !important;
}

.Button .Arrow {
  font-size: 3.5vw !important;
}

.S2 {
  background-color: black;
  color: white;
}

.S2 .BodyS2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding-top: 6vw;
  padding-bottom: 18vw;
}

.S2 .BodyS2 .TitleS2 {
  font-weight: 600;
  font-size: 5vw;
}

.S2 .BodyS2 .S2Para {
  padding-top: 2vw;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 1.2vw;
  font-weight: 600;
  font-size: 3vw;
}

.S2 .BodyS2 hr {
  border: 0.13rem solid #D78D00;
  margin-left: 38%;
  margin-right: 38%;
}

.S2 .BodyS2 .BradJS2 {
  font-size: 3vw;
}

.S2 .ButtonContainerS2 {
  padding-top: 2.5vw;
}

.S2 .ButtonContainerS2 .Button {
  font-size: 3vw;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
}

.S2 .ButtonContainerS2 .Button .Arrow {
  font-size: 3vw;
}

.S3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20% 20% 20% 20% 20% !important;
      grid-template-rows: 20% 20% 20% 20% 20% !important;
  -ms-grid-columns: 3% 94% 3%;
      grid-template-columns: 3% 94% 3%;
  row-gap: 1.3rem;
  position: relative;
  background-color: black;
  font-family: "Montserrat", sans-serif;
}

.S3 .MobileViewImg {
  width: 100%;
  height: 100%;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 6;
}

.S3 .DesktopViewImg {
  display: none;
}

.S3 .S3TopText {
  z-index: 2;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  text-align: center;
  margin: auto;
  color: white;
}

.S3 .S3TopText .TopTagPS3Mobile {
  font-size: 4vw;
  font-weight: 400;
  padding-right: 7vw;
  padding-left: 7vw;
}

.S3 .S3TopText .TopTagPS3 {
  display: none;
}

.S3 .S3TopText .TopTagSpanS3 {
  white-space: nowrap;
  font-size: 7vw;
  font-weight: 600;
}

.S3 .Service1 {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 2;
  z-index: 2;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: white;
  border-radius: 1.6rem;
}

.S3 .Service1 .Title {
  font-size: 6vw !important;
}

.S3 .Service1 .Para {
  font-size: 4vw !important;
  text-align: center;
}

.S3 .Service2 {
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 2;
  z-index: 2;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: white;
  border-radius: 1.6rem;
}

.S3 .Service2 .Title {
  font-size: 6vw !important;
}

.S3 .Service2 .Para {
  font-size: 4vw !important;
  text-align: center;
}

.S3 .Service3 {
  -ms-grid-row: 4;
      grid-row-start: 4;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 2;
  z-index: 2;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: white;
  border-radius: 1.6rem;
}

.S3 .Service3 .Title {
  font-size: 6vw !important;
}

.S3 .Service3 .Para {
  font-size: 4vw !important;
  text-align: center;
}

.S3 .BottomHeader {
  z-index: 2;
  -ms-grid-row: 5;
      grid-row-start: 5;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 8;
  padding-top: 1rem;
  text-align: center;
  font-weight: 600;
  color: #573900;
  font-size: 4.5vw !important;
  white-space: nowrap;
}

.S3 .ButtonContainer {
  z-index: 2;
  -ms-grid-row: 5;
      grid-row-start: 5;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 8;
  padding-top: 4rem;
  text-align: center;
  padding-bottom: 2rem;
}

.S3 .Button {
  font-size: 4vw !important;
  padding-top: 3vw;
  padding-bottom: 3vw;
}

.S3 .Button .Arrow {
  font-size: 4vw !important;
}

.S4 {
  background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(grey), to(black));
  background: linear-gradient(black, grey, black);
  font-family: "Montserrat", sans-serif;
  padding-top: 5rem;
}

.S4 .S4Container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1;
      grid-template-columns: 1;
  -ms-grid-rows: 6;
      grid-template-rows: 6;
}

.S4 .S4Container .TitleS4 {
  color: white;
  font-weight: 600;
  font-size: 10vw;
  text-align: center;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 1;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3.2rem;
  padding-bottom: 2.6rem;
}

.S4 .S4Container .Img1S4Container {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column: 1;
      grid-column-start: 1;
  display: block;
  text-align: center;
}

.S4 .S4Container .Img1S4Container img {
  width: 90vw;
}

.S4 .S4Container .Img2S4Container {
  padding-top: 3rem;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 4;
      grid-row-start: 4;
  display: block;
  text-align: center;
}

.S4 .S4Container .Img2S4Container img {
  width: 90vw;
}

.S4 .S4Container .FraserText {
  padding-top: 3rem;
  text-align: center;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 3;
      grid-row-start: 3;
}

.S4 .S4Container .FraserText .FraserTitle {
  color: white;
  font-weight: 800;
  font-size: 6vw;
}

.S4 .S4Container .FraserText .FraserParaContainer {
  padding-right: 4vw;
  padding-left: 4vw;
}

.S4 .S4Container .FraserText .FraserParaContainer .FraserPara {
  color: white;
  font-weight: 600;
}

.S4 .S4Container .DavidText {
  padding-top: 3rem;
  text-align: center;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 5;
      grid-row-start: 5;
}

.S4 .S4Container .DavidText .DavidTitle {
  color: white;
  font-weight: 800;
  font-size: 6vw;
  padding-top: 0.9vw;
}

.S4 .S4Container .DavidText .DavidParaContainer {
  padding-right: 4vw;
  padding-left: 4vw;
}

.S4 .S4Container .DavidText .DavidParaContainer .DavidPara {
  color: white;
  font-weight: 600;
}

.S4 .S4Container .ButtonContainerS4 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 6;
      grid-row-start: 6;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 7rem;
}

.S4 .S4Container .ButtonContainerS4 .Button {
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
  font-size: 4vw !important;
}

.S4 .S4Container .ButtonContainerS4 .Button .Arrow {
  font-size: 4vw !important;
}

@media (min-width: 992px) {
  .S1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1;
        grid-template-columns: 1;
    -ms-grid-rows: 1;
        grid-template-rows: 1;
  }
  .S1 img {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
  .S1 .S1TextContainer {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 1;
        grid-row-start: 1;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 25% 50% 25% !important;
        grid-template-rows: 25% 50% 25% !important;
  }
  .S1 .S1TextContainer .S1Text {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 2;
        grid-row-start: 2;
    padding-left: 3rem;
  }
  .S1 .S1TextContainer .S1Text span {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 6rem !important;
    white-space: nowrap;
    padding-bottom: 1rem;
  }
  .S1 .Button {
    font-size: 1.3rem !important;
    padding-left: 0.4 !important;
    padding-right: 0.4 !important;
  }
  .S1 .Button .Arrow {
    font-size: 1.3rem !important;
  }
  .S2 {
    background-color: black;
    color: white;
  }
  .S2 .BodyS2 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding-top: 4rem !important;
    padding-bottom: 7rem !important;
  }
  .S2 .BodyS2 .TitleS2 {
    font-weight: 600;
    font-size: 4.5vw;
  }
  .S2 .BodyS2 .S2Para {
    padding-top: 1.8rem;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 1.2rem;
    font-weight: 600;
    font-size: 1.3rem !important;
  }
  .S2 .BodyS2 hr {
    border: 0.13rem solid #D78D00;
    margin-left: 38%;
    margin-right: 38%;
  }
  .S2 .BodyS2 .BradJS2 {
    font-size: 1.3rem !important;
  }
  .S2 .ButtonContainerS2 {
    padding-top: 2rem !important;
  }
  .S2 .ButtonContainerS2 .Button {
    font-size: 1.3rem !important;
    padding-left: 0.4 !important;
    padding-right: 0.4 !important;
    padding-top: 1vw !important;
    padding-bottom: 1vw !important;
  }
  .S2 .ButtonContainerS2 .Button .Arrow {
    font-size: 1.3rem !important;
  }
  .S3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr !important;
        grid-template-rows: 1fr 1fr 1fr !important;
    -ms-grid-columns: 3% 29% 3% 30% 3% 29% 3%;
        grid-template-columns: 3% 29% 3% 30% 3% 29% 3%;
    row-gap: 0%;
    position: relative;
    background-color: black;
    font-family: "Montserrat", sans-serif;
  }
  .S3 .DesktopViewImg {
    display: block;
    width: 100%;
    height: 100%;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 8;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 4;
  }
  .S3 .MobileViewImg {
    display: none;
  }
  .S3 .S3TopText {
    z-index: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 8;
    -ms-grid-row: 1;
        grid-row-start: 1;
    text-align: center;
    margin: auto;
    color: white;
  }
  .S3 .S3TopText .TopTagPS3Mobile {
    display: none;
  }
  .S3 .S3TopText .TopTagSpanS3 {
    font-size: 4rem;
    font-weight: 600;
  }
  .S3 .S3TopText .TopTagPS3 {
    font-size: 1.8rem;
    display: block;
  }
  .S3 .Service1 {
    -ms-grid-row: 2 !important;
        grid-row-start: 2 !important;
    -ms-grid-column: 2 !important;
        grid-column-start: 2 !important;
    grid-column-end: 2 !important;
    z-index: 2;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: white;
    border-radius: 1.6rem;
  }
  .S3 .Service1 .ServiceText {
    margin: 1.5rem;
  }
  .S3 .Service1 .ServiceText .Title {
    color: #D78D00;
    text-align: center;
    font-weight: 600;
    font-size: 1.6rem !important;
  }
  .S3 .Service1 .ServiceText .Para {
    color: grey;
    font-size: 1.2rem !important;
  }
  .S3 .Service2 {
    -ms-grid-row: 2 !important;
        grid-row-start: 2 !important;
    -ms-grid-column: 4 !important;
        grid-column-start: 4 !important;
    grid-column-end: 4 !important;
    z-index: 2;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: white;
    border-radius: 1.6rem;
  }
  .S3 .Service2 .ServiceText {
    margin: 1.5rem;
  }
  .S3 .Service2 .ServiceText .Title {
    color: #D78D00;
    text-align: center;
    font-weight: 600;
    font-size: 1.6rem !important;
  }
  .S3 .Service2 .ServiceText .Para {
    color: grey;
    font-size: 1.2rem !important;
  }
  .S3 .Service3 {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-column: 6 !important;
        grid-column-start: 6 !important;
    grid-column-end: 6 !important;
    z-index: 2;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: white;
    border-radius: 1.6rem;
  }
  .S3 .Service3 .ServiceText {
    margin: 1.5rem;
  }
  .S3 .Service3 .ServiceText .Title {
    color: #D78D00;
    text-align: center;
    font-weight: 600;
    font-size: 1.6rem !important;
  }
  .S3 .Service3 .ServiceText .Para {
    color: grey;
    font-size: 1.2rem !important;
  }
  .S3 .BottomHeader {
    z-index: 2;
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 8;
    padding-top: 3rem;
    text-align: center;
    font-weight: 600;
    color: #573900;
    font-size: 1.4rem !important;
    white-space: nowrap;
  }
  .S3 .ButtonContainer {
    z-index: 2;
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 8;
    padding-top: 7rem;
    text-align: center;
  }
  .S3 .Button {
    font-size: 1rem !important;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }
  .S3 .Button .Arrow {
    font-size: 1rem !important;
  }
  .S4 {
    background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(grey), to(black));
    background: linear-gradient(black, grey, black);
    font-family: "Montserrat", sans-serif;
  }
  .S4 .S4Container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 4;
        grid-template-rows: 4;
  }
  .S4 .S4Container .TitleS4 {
    color: white;
    font-weight: 600;
    font-size: 4rem;
    text-align: center;
    padding-top: 2rem;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 1;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 2rem;
  }
  .S4 .S4Container .Img1S4Container {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
    display: block;
    text-align: center;
  }
  .S4 .S4Container .Img1S4Container img {
    width: 30rem;
  }
  .S4 .S4Container .Img2S4Container {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
    display: block;
    text-align: center;
  }
  .S4 .S4Container .Img2S4Container img {
    width: 30rem;
  }
  .S4 .S4Container .FraserText {
    padding-top: 1.5rem;
    text-align: center;
  }
  .S4 .S4Container .FraserText .FraserTitle {
    color: white;
    font-weight: 800;
    font-size: 2rem;
  }
  .S4 .S4Container .FraserText .FraserParaContainer {
    padding-right: 5rem;
    padding-left: 5rem;
  }
  .S4 .S4Container .FraserText .FraserParaContainer .FraserPara {
    color: white;
    font-weight: 600;
  }
  .S4 .S4Container .DavidText {
    padding-top: 1.5rem;
    text-align: center;
  }
  .S4 .S4Container .DavidText .DavidTitle {
    color: white;
    font-weight: 800;
    font-size: 2rem;
    padding-top: 0.9vw;
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  .S4 .S4Container .DavidText .DavidParaContainer {
    padding-right: 5rem;
    padding-left: 5rem;
  }
  .S4 .S4Container .DavidText .DavidParaContainer .DavidPara {
    color: white;
    font-weight: 600;
  }
  .S4 .S4Container .ButtonContainerS4 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 4;
        grid-row-start: 4;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 8rem;
  }
  .S4 .S4Container .ButtonContainerS4 .Button {
    font-size: 1rem !important;
  }
  .S4 .S4Container .ButtonContainerS4 .Button .Arrow {
    font-size: 1rem !important;
  }
  .S5 {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 30% 50% 20%;
        grid-template-rows: 30% 50% 20%;
    -ms-grid-columns: 20% 60% 20%;
        grid-template-columns: 20% 60% 20%;
    position: relative;
    background-color: black;
    font-family: "Montserrat", sans-serif;
  }
  .S5 img {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
  }
  .S5 span {
    position: absolute;
    z-index: 2;
    color: white;
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-column-end: 2;
    padding-top: 5vw;
    padding-left: 16vw;
    font-size: 4vw;
    text-align: center;
    font-weight: 600;
  }
  .S6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    background-color: black;
    display: -ms-grid;
    display: grid;
    color: white;
    -ms-grid-rows: 2;
        grid-template-rows: 2;
    padding-top: 3vw;
  }
  .S6 .ButtonContainer {
    -ms-grid-row: 2;
        grid-row-start: 2;
    padding-bottom: 5vw;
    padding-top: 2vw;
    text-align: center;
  }
  .S6 .TopS6 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4;
        grid-template-columns: 4;
    -ms-grid-rows: 1;
        grid-template-rows: 1;
    padding-left: 5.5vw;
  }
  .S6 .TopS6 .p1S6 {
    text-align: left;
    padding-left: 4vw;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 1;
        grid-row-start: 1;
    padding-top: 1.5vw;
  }
  .S6 .TopS6 .p2S6 {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
    padding-top: 1.5vw;
    line-height: 2vw;
  }
  .S6 .TopS6 .p3S6 {
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-row: 1;
        grid-row-start: 1;
    padding-top: 1.5vw;
    line-height: 1.5vw;
  }
  .S6 .TopS6 .img4S6Container {
    -ms-grid-column: 4;
        grid-column-start: 4;
    -ms-grid-row: 1;
        grid-row-start: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .S6 .TopS6 .img4S6Container img {
    width: 11vw;
    height: 6vw;
  }
}
/*# sourceMappingURL=HomepageSections.css.map */