@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins/_breakpoints";
@import "../../customVariables";
@include media-breakpoint-up(xs) {
    .S1 {
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 1;
        img {
            grid-column-start: 1;
            grid-row-start: 1;
        }
        .S1TextContainer {
            grid-column-start: 1;
            grid-row-start: 1;
            display: grid;
            grid-template-rows: 10% 50% 25%;
            .S1Text {
                grid-column-start: 1;
                grid-row-start: 2;
                padding-left: 1.3rem;
                span {
                    color: white;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 600;
                    font-size: 10vw;
                    white-space: nowrap;
                    padding-bottom: 1rem;
                }
            }
        }
    }
    .Button {
        font-size: 3.5vw!important;
        padding-left: 3vw!important;
        padding-right: 3vw!important;
        .Arrow {
            font-size: 3.5vw!important;
        }
    }


.S2 {
    background-color: black;
    color: white;
        .BodyS2 {
            font-family: "Montserrat", sans-serif;
            text-align: center;
            padding-top: 6vw;
            padding-bottom: 18vw;
            .TitleS2 {
                font-weight: 600;
                font-size: 5vw;
            }
            .S2Para {
                padding-top: 2vw;
                padding-left: 20%;
                padding-right: 20%;
                padding-bottom: 1.2vw;
                font-weight: 600;
                font-size: 3vw;
            }
            hr {
                border: 0.13rem solid $DarkOrange;
                margin-left: 38%;
                margin-right: 38%;
            }
            .BradJS2 {
                font-size: 3vw;
            }
        }
        .ButtonContainerS2 {
            padding-top: 2.5vw;
            .Button {
                font-size: 3vw;
                padding-left: 3vw;
                padding-right: 3vw;
                padding-top: 1.5vw;
                padding-bottom: 1.5vw;
                .Arrow {
                    font-size: 3vw;
                }
            }
        }
      
}

.S3 {
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%!important;
    grid-template-columns: 3% 94% 3%;
    row-gap: 1.3rem;
    position: relative;
    background-color: black;
    font-family: "Montserrat", sans-serif;
    .MobileViewImg {
        width: 100%;
        height: 100%;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 6;
    }
    .DesktopViewImg {
        display: none;
    }
    .S3TopText {
        z-index: 2;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        text-align: center;
        margin: auto;
        color: white;
        .TopTagPS3Mobile {
            font-size: 4vw;
            font-weight: 400;
            padding-right: 7vw;
            padding-left: 7vw;
    }
        .TopTagPS3 {
            display: none;
    }
        .TopTagSpanS3 {
            white-space: nowrap;
            font-size: 7vw;
            font-weight: 600;
        }
    }
    .Service1 {
        grid-row-start: 2;
        grid-column-start: 2;
        grid-column-end: 2;
        z-index: 2;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-right: 1rem;
        padding-left: 1rem;
        background-color: white;
        border-radius: 1.6rem;
        .Title {
            font-size: 6vw!important;
        }
        .Para {
            font-size: 4vw!important;
            text-align: center;
        }
    }
    .Service2 {
        grid-row-start: 3;
        grid-column-start: 2;
        grid-column-end: 2;
        z-index: 2;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-right: 1rem;
        padding-left: 1rem;
        background-color: white;
        border-radius: 1.6rem;
        .Title {
            font-size: 6vw!important;
        }
        .Para {
            font-size: 4vw!important;
            text-align: center;
        }
    }
    .Service3 {
        grid-row-start: 4;
        grid-column-start: 2;
        grid-column-end: 2;
        z-index: 2;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-right: 1rem;
        padding-left: 1rem;
        background-color: white;
        border-radius: 1.6rem;
        .Title {
            font-size: 6vw!important;
        }
        .Para {
            font-size: 4vw!important;
            text-align: center;
        }
    }
    .BottomHeader {
        z-index: 2;
        grid-row-start: 5;
        grid-column-start: 1;
        grid-column-end: 8;
        padding-top: 1rem;
        text-align: center;
        font-weight: 600;
        color: #573900;
        font-size: 4.5vw!important;
        white-space: nowrap;
    }
    .ButtonContainer {
        z-index: 2;
        grid-row-start: 5;
        grid-column-start: 1;
        grid-column-end: 8;
        padding-top: 4rem;
        text-align: center;
        padding-bottom: 2rem;
    }
    .Button {
        font-size: 4vw!important;
        padding-top: 3vw;
        padding-bottom: 3vw;
        .Arrow {
            font-size: 4vw!important;
        }
    }
}
.S4 {
    background: linear-gradient(black, grey, black);
    font-family: "Montserrat", sans-serif;
    padding-top: 5rem;
    .S4Container {
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 6;
        
    .TitleS4 {
        color: white;
        font-weight: 600;
        font-size: 10vw;
        text-align: center;
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 3.2rem;
        padding-bottom: 2.6rem;
    }
    .Img1S4Container {
        grid-row-start: 2;
        grid-column-start: 1;
        display: block;
        text-align: center;
        img {
            width: 90vw;
        }
    }
    .Img2S4Container {
        padding-top: 3rem;
        grid-column-start: 1;
        grid-row-start: 4;
        display: block;
        text-align: center;
        img {
            width: 90vw;
        }
    }
    .FraserText {
        padding-top: 3rem;
        text-align: center;
        grid-column-start: 1;
        grid-row-start: 3;
         .FraserTitle {
        color: white;
        font-weight: 800;
        font-size: 6vw;
        } 
        .FraserParaContainer {
            padding-right: 4vw;
            padding-left: 4vw;
             .FraserPara {
            color: white;
            font-weight: 600;
            }
        }
       
    }
    .DavidText {
        padding-top: 3rem;
        text-align: center;        
        grid-column-start: 1;
        grid-row-start: 5;
        .DavidTitle {
        color: white;
        font-weight: 800;
        font-size: 6vw;
        padding-top: 0.9vw;

        }
        .DavidParaContainer {
            padding-right: 4vw;
            padding-left: 4vw;
            .DavidPara {
            color: white;
            font-weight: 600;
            }
        }
        
    }
    
    .ButtonContainerS4 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 6;
        text-align: center;
        padding-top: 3rem;
        padding-bottom: 7rem;
        .Button {
            padding-top: 2.5vw;
            padding-bottom: 2.5vw;
            font-size: 4vw!important;
            .Arrow {
            font-size: 4vw!important;
            }
        }
    }
    } 
}

}
@include media-breakpoint-up(lg){
.S1 {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
    img {
        grid-column-start: 1;
        grid-row-start: 1;
    }
    .S1TextContainer {
        grid-column-start: 1;
        grid-row-start: 1;
        display: grid;
        grid-template-rows: 25% 50% 25%!important;
        .S1Text {
            grid-column-start: 1;
            grid-row-start: 2;
            padding-left: 3rem;
            span {
                color: white;
                font-family: "Montserrat", sans-serif;
                font-weight: 600;
                font-size: 6rem!important;
                white-space: nowrap;
                padding-bottom: 1rem;
            }
        }
    }
    .Button {
        font-size: 1.3rem!important;    
        padding-left: 0.4!important;
        padding-right: 0.4!important;
        .Arrow {
            font-size: 1.3rem!important;
        }
    }
}

.S2 {
    background-color: black;
    color: white;
        .BodyS2 {
            font-family: "Montserrat", sans-serif;
            text-align: center;
            padding-top: 4rem!important;
            padding-bottom: 7rem!important;
            .TitleS2 {
                font-weight: 600;
                font-size: 4.5vw;
            }
            .S2Para {
                padding-top: 1.8rem;
                padding-left: 20%;
                padding-right: 20%;
                padding-bottom: 1.2rem;
                font-weight: 600;
                font-size: 1.3rem!important;
            }
            hr {
                border: 0.13rem solid $DarkOrange;
                margin-left: 38%;
                margin-right: 38%;
            }
            .BradJS2 {
                font-size: 1.3rem!important;
            }
        }
        .ButtonContainerS2 {
            padding-top: 2rem!important;
            .Button {
                font-size: 1.3rem!important;    
                padding-left: 0.4!important;
                padding-right: 0.4!important;
                padding-top: 1vw!important;
                padding-bottom: 1vw!important;
                .Arrow {
                    font-size: 1.3rem!important;
                }
            }
        }
        
}

.S3 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr!important;
    grid-template-columns: 3% 29% 3% 30% 3% 29% 3%;
    row-gap: 0%;
    position: relative;
    background-color: black;
    font-family: "Montserrat", sans-serif;
    .DesktopViewImg {
        display: block;
        width: 100%;
        height: 100%;
        grid-column-start: 1;
        grid-column-end: 8;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    .MobileViewImg {
        display: none;
    }
    .S3TopText {
        z-index: 2;
        grid-column-start: 1;
        grid-column-end: 8;
        grid-row-start: 1;
        text-align: center;
        margin: auto;
        color: white;
        .TopTagPS3Mobile {
            display: none;
        }
        .TopTagSpanS3 {
            font-size: 4rem;
            font-weight: 600;
    }
        .TopTagPS3 {
            font-size: 1.8rem;
            display: block;
    }
    }
       .Service1 {
        grid-row-start: 2!important;
        grid-column-start: 2!important;
        grid-column-end: 2!important;
        z-index: 2;
        padding-right: 1rem;
        padding-left: 1rem;
        background-color: white;
        border-radius: 1.6rem;
        .ServiceText {
            margin: 1.5rem;
            .Title {
                color: $DarkOrange;
                text-align: center;
                font-weight: 600;
                font-size: 1.6rem!important;
            }
            .Para {
                color: grey;
                font-size: 1.2rem!important;
            }
        }
    }
    .Service2 {
        grid-row-start: 2!important;
        grid-column-start: 4!important;
        grid-column-end: 4!important;
        z-index: 2;
        padding-right: 1rem;
        padding-left: 1rem;
        background-color: white;
        border-radius: 1.6rem;
        .ServiceText {
            margin: 1.5rem;
            .Title {
                color: $DarkOrange;
                text-align: center;
                font-weight: 600;
                font-size: 1.6rem!important;
            }
            .Para {
                color: grey;
                font-size: 1.2rem!important;
            }
        }
    }
    .Service3 {
        grid-row-start: 2;
        grid-column-start: 6!important;
        grid-column-end: 6!important;
        z-index: 2;
        padding-right: 1rem;
        padding-left: 1rem;
        background-color: white;
        border-radius: 1.6rem;
        .ServiceText {
            margin: 1.5rem;
            .Title {
                color: $DarkOrange;
                text-align: center;
                font-weight: 600;
                font-size: 1.6rem!important;
            }
            .Para {
                color: grey;
                font-size: 1.2rem!important;
            }
        }
    } 

    
    .BottomHeader {
        z-index: 2;
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 8;
        padding-top: 3rem;
        text-align: center;
        font-weight: 600;
        color: #573900;
        font-size: 1.4rem!important;
        white-space: nowrap;
    }
    .ButtonContainer {
        z-index: 2;
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 8;
        padding-top: 7rem;
        text-align: center;
    }
    .Button {
        font-size: 1rem!important;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        .Arrow {
            font-size: 1rem!important;
        }
    }
}

.S4 {
    background: linear-gradient(black, grey, black);
    font-family: "Montserrat", sans-serif;

    .S4Container {    
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 4;

    .TitleS4 {
        color: white;
        font-weight: 600;
        font-size: 4rem;
        text-align: center;
        padding-top: 2rem;
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 3;
        padding-bottom: 2rem;
    }
    .Img1S4Container {
        grid-row-start: 2;
        grid-column-start: 1;
        display: block;
        text-align: center;
        margin-top: auto;
        img {
            width: 30rem!important;
        }
    }
    .Img2S4Container {
        grid-column-start: 2;
        grid-row-start: 2;
        display: block;
        text-align: center;
        margin-top: auto;
        img {
            width: 30rem!important;
        }
    }
    .FraserText {
        padding-top: 1.5rem;
        text-align: center;
         .FraserTitle {
        color: white;
        font-weight: 800;
        font-size: 2rem;
        } 
        .FraserParaContainer {
            padding-right: 5rem;
            padding-left: 5rem;
             .FraserPara {
            color: white;
            font-weight: 600;
            }
        }
       
    }
    .DavidText {
        padding-top: 1.5rem;
        text-align: center;        
        grid-column-start: 2!important;
        grid-row-start: 3!important;
        .DavidTitle {
        color: white;
        font-weight: 800;
        font-size: 2rem;
        padding-top: 0.9vw;

        }
        .DavidParaContainer {
            padding-right: 5rem;
            padding-left: 5rem;
            .DavidPara {
            color: white;
            font-weight: 600;
            }
        }
        
    }
    
    .ButtonContainerS4 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        text-align: center;
        padding-top: 4rem;
        padding-bottom: 8rem;
        .Button {
            padding: 1.2rem!important;
            font-size: 1rem!important;
            .Arrow {
            font-size: 1rem!important;
            }
        }
    }
    } 
}

.S5 {
    display: grid;
    grid-template-rows: 30% 50% 20%;
    grid-template-columns: 20% 60% 20%;
    position: relative;
    background-color: black;
    font-family: "Montserrat", sans-serif;
    img {
        grid-column-start: 1;
        grid-column-end: 4;
        width: 100%;
    }    
    span {
        position: absolute;
        z-index: 2;
        color: white;
        grid-column-start: 2;
        grid-row-start: 1;
        grid-column-end: 2;
        padding-top: 5vw;
        padding-left: 16vw;
        font-size: 4vw;
        text-align: center;
        font-weight: 600;
        
    }
    
}

.S6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    background-color: black;
    display: grid;
    color: white;
    grid-template-rows: 2;
    padding-top: 3vw;
    .ButtonContainer {
        grid-row-start: 2;
        padding-bottom: 5vw;
        padding-top: 2vw;
        text-align: center;
        
    }
    .TopS6 {
        display: grid;
        grid-template-columns: 4;
        grid-template-rows: 1;
        padding-left: 5.5vw;
        .p1S6 {
            text-align: left;
            padding-left: 4vw;
            grid-column-start: 1;
            grid-row-start: 1;
            padding-top: 1.5vw;
        }
        .p2S6 {
            grid-column-start: 2;
            grid-row-start: 1;
            padding-top: 1.5vw;
            line-height: 2vw;
        }
        .p3S6 {
            grid-column-start: 3;
            grid-row-start: 1;
            padding-top: 1.5vw;
            line-height: 1.5vw;
        }
        .img4S6Container {
            grid-column-start: 4;
            grid-row-start: 1;
            display: flex;
                    img {
                        width: 11vw;
                        height: 6vw;
                    }
            }
        }
        
    
}
}

