@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins/_breakpoints";
@import "../../customVariables";

@include media-breakpoint-up(lg){
.S1 {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
    img {
        grid-column-start: 1;
        grid-row-start: 1;
    }
    .S1TextContainer {
        grid-column-start: 1;
        grid-row-start: 1;
        display: grid;
        grid-template-rows: 25% 50% 25%!important;
        .S1Text {
            grid-column-start: 1;
            grid-row-start: 2;
            padding-left: 3rem;
            span {
                color: white;
                font-family: "Montserrat", sans-serif;
                font-weight: 600;
                font-size: 6rem!important;
                white-space: nowrap;
                padding-bottom: 1rem;
            }
        }
    }
    .Button {
        font-size: 1.3rem!important;    
        padding-left: 0.4!important;
        padding-right: 0.4!important;
        .Arrow {
            font-size: 1.3rem!important;
        }
    }
}

.S2 {
    background-color: black;
    color: white;
        .BodyS2 {
            font-family: "Montserrat", sans-serif;
            text-align: center;
            padding-top: 4rem!important;
            padding-bottom: 7rem!important;
            .TitleS2 {
                font-weight: 600;
                font-size: 4.5vw;
            }
            .S2Para {
                padding-top: 1.8rem;
                padding-left: 20%;
                padding-right: 20%;
                padding-bottom: 1.2rem;
                font-weight: 600;
                font-size: 1.3rem!important;
            }
            hr {
                border: 0.13rem solid $DarkOrange;
                margin-left: 38%;
                margin-right: 38%;
            }
            .BradJS2 {
                font-size: 1.3rem!important;
            }
        }
        .ButtonContainerS2 {
            padding-top: 2rem!important;
            .Button {
                font-size: 1.3rem!important;    
                padding-left: 0.4!important;
                padding-right: 0.4!important;
                padding-top: 1vw!important;
                padding-bottom: 1vw!important;
                .Arrow {
                    font-size: 1.3rem!important;
                }
            }
        }
        
}

.S3 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    background-color: black;
    font-family: "Montserrat", sans-serif;
    img {
        width: 100%;
        height: 100%;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    .TopTagSpanS3 {
        grid-row-start: 1;
        grid-column-start: 2;
        z-index: 2;
        color: white;
        text-align: center;
        margin: auto;
    }
}

.S4 {
    background: linear-gradient(black, grey, black);
    font-family: "Montserrat", sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
    .TitleS4 {
        color: white;
        font-weight: 600;
        font-size: 4vw;
        text-align: center;
        padding-top: 2vw;
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .Img1S4 {
        grid-row-start: 1;
        grid-column-start: 1;
        padding-top: 10vw;
        padding-left: 12.5vw;
    }
    .Img2S4Container {
        grid-column-start: 2;
        grid-row-start: 1;
        padding-left: 1vw;
        .Img2S4 {
        z-index: 2; 
        padding-top: 10vw;
        width: 28vw;
    }
    }
    .FraserTitle {
        color: white;
        font-weight: 800;
        font-size: 2vw;
        padding-left: 20vw;
        padding-top: 1vw;
    }
    .DavidTitle {
        color: white;
        font-weight: 800;
        font-size: 2vw;
        padding-top: 0.9vw;
        grid-column-start: 2;
        grid-row-start: 2;
        padding-left: 9vw;
    }
    .FraserPara {
        color: white;
        padding-left: 12.5vw;
        padding-right: 2vw;
        text-align: center;
        font-weight: 600;
    }
    .DavidPara {
        color: white;
        text-align: center;
        font-weight: 600;
        padding-right: 17vw;
    }
    .ButtonContainerS4 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        text-align: center;
        padding-top: 4vw;
        padding-bottom: 10vw;
    }
}

.S5 {
    display: grid;
    grid-template-rows: 30% 50% 20%;
    grid-template-columns: 20% 60% 20%;
    position: relative;
    background-color: black;
    font-family: "Montserrat", sans-serif;
    img {
        grid-column-start: 1;
        grid-column-end: 4;
        width: 100%;
    }    
    span {
        position: absolute;
        z-index: 2;
        color: white;
        grid-column-start: 2;
        grid-row-start: 1;
        grid-column-end: 2;
        padding-top: 5vw;
        padding-left: 16vw;
        font-size: 4vw;
        text-align: center;
        font-weight: 600;
        
    }
    
}

.S6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    background-color: black;
    display: grid;
    color: white;
    grid-template-rows: 2;
    padding-top: 3vw;
    .ButtonContainer {
        grid-row-start: 2;
        padding-bottom: 5vw;
        padding-top: 2vw;
        text-align: center;
        
    }
    .TopS6 {
        display: grid;
        grid-template-columns: 4;
        grid-template-rows: 1;
        padding-left: 5.5vw;
        .p1S6 {
            text-align: left;
            padding-left: 4vw;
            grid-column-start: 1;
            grid-row-start: 1;
            padding-top: 1.5vw;
        }
        .p2S6 {
            grid-column-start: 2;
            grid-row-start: 1;
            padding-top: 1.5vw;
            line-height: 2vw;
        }
        .p3S6 {
            grid-column-start: 3;
            grid-row-start: 1;
            padding-top: 1.5vw;
            line-height: 1.5vw;
        }
        .img4S6Container {
            grid-column-start: 4;
            grid-row-start: 1;
            display: flex;
                    img {
                        width: 11vw;
                        height: 6vw;
                    }
            }
        }
        
    
}
}

@include media-breakpoint-up(xs) {
    .S1 {
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 1;
        img {
            grid-column-start: 1;
            grid-row-start: 1;
        }
        .S1TextContainer {
            grid-column-start: 1;
            grid-row-start: 1;
            display: grid;
            grid-template-rows: 10% 50% 25%;
            .S1Text {
                grid-column-start: 1;
                grid-row-start: 2;
                padding-left: 1.3rem;
                span {
                    color: white;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 600;
                    font-size: 10vw;
                    white-space: nowrap;
                    padding-bottom: 1rem;
                }
            }
        }
    }
    .Button {
        font-size: 3.5vw!important;
        padding-left: 3vw!important;
        padding-right: 3vw!important;
        .Arrow {
            font-size: 3.5vw!important;
        }
    }
}

.S2 {
    background-color: black;
    color: white;
        .BodyS2 {
            font-family: "Montserrat", sans-serif;
            text-align: center;
            padding-top: 6vw;
            padding-bottom: 18vw;
            .TitleS2 {
                font-weight: 600;
                font-size: 5vw;
            }
            .S2Para {
                padding-top: 2vw;
                padding-left: 20%;
                padding-right: 20%;
                padding-bottom: 1.2vw;
                font-weight: 600;
                font-size: 3vw;
            }
            hr {
                border: 0.13rem solid $DarkOrange;
                margin-left: 38%;
                margin-right: 38%;
            }
            .BradJS2 {
                font-size: 3vw;
            }
        }
        .ButtonContainerS2 {
            padding-top: 2.5vw;
            .Button {
                font-size: 3vw;
                padding-left: 3vw;
                padding-right: 3vw;
                padding-top: 1.5vw;
                padding-bottom: 1.5vw;
                .Arrow {
                    font-size: 3vw;
                }
            }
        }
        
}

