@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins/_breakpoints";
@import "../../customVariables";

@include media-breakpoint-up(xs){
.Button {
        background: linear-gradient(to right, $LightOrange 0%, $DarkOrange 100%);
        padding: 1vw;
        border-radius: 9vw;
        white-space: nowrap;
        color: white;
        font-weight: 500;
        outline: none!important;
        display: block;
        border: none;
        }
.S1 {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
    img {
        grid-column-start: 1;
        grid-row-start: 1;
    }
    .S1TextContainer {
        grid-column-start: 1;
        grid-row-start: 1;
        display: grid;
        grid-template-rows: 25% 50% 25%;
        .S1Text {
            grid-column-start: 1;
            grid-row-start: 2;
            padding-left: 3rem;
            span {
                color: white;
                font-family: "Montserrat", sans-serif;
                font-weight: 600;
                font-size: 6vw;
                white-space: nowrap;
                padding-bottom: 1rem;
            }
        }
    }
}

.S2 {
    background-color: black;
    color: white;
        .BodyS2 {
            font-family: "Montserrat", sans-serif;
            text-align: center;
            padding-top: 4vw;
            padding-bottom: 10vw;
            .TitleS2 {
                font-weight: 600;
                font-size: 4vw;
            }
            p {
                padding-top: 2vw;
                padding-left: 12vw;
                padding-right: 12vw;
                padding-bottom: 1.2vw;
                font-weight: 600;
                font-size: 1.3vw;
            }
            hr {
                border: 0.13vw solid $DarkOrange;
                margin-left: 36vw;
                margin-right: 36vw;
            }
        }
        .ButtonContainerS2 {
            padding-right: 0.7vw;
            .Button {
            }
        }
        
}

.S3 {
    display: grid;
    grid-template-rows: 110vw;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    background-color: black;
    font-family: "Montserrat", sans-serif;
    .ButtonContainer {
        grid-column-start: 2;
        grid-row-start: 1;
        z-index: 2;
        padding-top: 47vw;
        text-align: center;
    }
    .BottomHeader {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 4;
        z-index: 2;
        padding-top: 41vw;
        color: #573900;
        font-weight: 600;
        font-size: 1.7vw;
        text-align: center;
    }
    .TopTagSpanS3 {
        text-align: center;
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 4;
        z-index: 2;
        color: white;
        padding-top: 3vw;
        font-size: 5vw;
        font-weight: 600;
        white-space: nowrap;
    }
    .TopTagPS3 {
        z-index: 2;
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 4;
        padding-top: 11vw;
        font-weight: 600;
        color: white;
        text-align: center;
        font-size: 1.5vw;
    }
        .ServiceTextS3 {
            background-color: white;
            padding: 1.4vw;
            margin-right: 3.5vw;
            margin-left: 3.5vw;
            border-radius: 2vw;
            font-family: "Montserrat", sans-serif;
            text-align: center;
            p {     
                padding-right: 2vw;
                padding-left: 0.4vw;
                padding-top: 0.8vw;
                padding-bottom: 5vw;
                font-weight: 600;
                letter-spacing: 0.1vw;
                color: rgb(80, 80, 80);
                text-align: left;
            }
            .MoveRight {
                padding-left: 1.5vw;
            }
            .MoveUp {
                padding-bottom: 2vw;
            }
            .TitleS3 {
                color: $LightOrange;
                font-weight: 600;
                font-size: 2.5vw;
                
            }

        }
        .Service1S3 {
            grid-column-start: 1;
            grid-row-start: 1;
            z-index: 2;
            padding-top: 18vw;
            
        }
        .Service2S3 {
            grid-column-start: 2;
            grid-row-start: 1;
            z-index: 2;
            padding-top: 18vw;
        }
        .Service3S3 {
            grid-column-start: 3;
            grid-row-start: 1;
            z-index: 2;
            padding-top: 18vw;
        }
    img {
        width: 100%;
        height: 100%;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
    }
}

.S4 {
    background: linear-gradient(black, grey, black);
    font-family: "Montserrat", sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
    .TitleS4 {
        color: white;
        font-weight: 600;
        font-size: 4vw;
        text-align: center;
        padding-top: 2vw;
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .Img1S4 {
        grid-row-start: 1;
        grid-column-start: 1;
        padding-top: 10vw;
        padding-left: 12.5vw;
    }
    .Img2S4Container {
        grid-column-start: 2;
        grid-row-start: 1;
        padding-left: 1vw;
        .Img2S4 {
        z-index: 2; 
        padding-top: 10vw;
        width: 28vw;
    }
    }
    .FraserTitle {
        color: white;
        font-weight: 800;
        font-size: 2vw;
        padding-left: 20vw;
        padding-top: 1vw;
    }
    .DavidTitle {
        color: white;
        font-weight: 800;
        font-size: 2vw;
        padding-top: 0.9vw;
        grid-column-start: 2;
        grid-row-start: 2;
        padding-left: 9vw;
    }
    .FraserPara {
        color: white;
        padding-left: 12.5vw;
        padding-right: 2vw;
        text-align: center;
        font-weight: 600;
    }
    .DavidPara {
        color: white;
        text-align: center;
        font-weight: 600;
        padding-right: 17vw;
    }
    .ButtonContainerS4 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        text-align: center;
        padding-top: 4vw;
        padding-bottom: 10vw;
    }
}

.S5 {
    display: grid;
    grid-template-rows: 30% 50% 20%;
    grid-template-columns: 20% 60% 20%;
    position: relative;
    background-color: black;
    font-family: "Montserrat", sans-serif;
    img {
        grid-column-start: 1;
        grid-column-end: 4;
        width: 100%;
    }    
    span {
        position: absolute;
        z-index: 2;
        color: white;
        grid-column-start: 2;
        grid-row-start: 1;
        grid-column-end: 2;
        padding-top: 5vw;
        padding-left: 16vw;
        font-size: 4vw;
        text-align: center;
        font-weight: 600;
        
    }
    
}

.S6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    background-color: black;
    display: grid;
    color: white;
    grid-template-rows: 2;
    padding-top: 3vw;
    .ButtonContainer {
        grid-row-start: 2;
        padding-bottom: 5vw;
        padding-top: 2vw;
        text-align: center;
        
    }
    .TopS6 {
        display: grid;
        grid-template-columns: 4;
        grid-template-rows: 1;
        padding-left: 5.5vw;
        .p1S6 {
            text-align: left;
            padding-left: 4vw;
            grid-column-start: 1;
            grid-row-start: 1;
            padding-top: 1.5vw;
        }
        .p2S6 {
            grid-column-start: 2;
            grid-row-start: 1;
            padding-top: 1.5vw;
            line-height: 2vw;
        }
        .p3S6 {
            grid-column-start: 3;
            grid-row-start: 1;
            padding-top: 1.5vw;
            line-height: 1.5vw;
        }
        .img4S6Container {
            grid-column-start: 4;
            grid-row-start: 1;
            display: flex;
                    img {
                        width: 11vw;
                        height: 6vw;
                    }
            }
        }
        
    
}
}
