@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins/_breakpoints";
@import "../customVariables";

@include media-breakpoint-up(xs) { 
    .BlogMain {
        .BlogS1 {
            display: grid;
        grid-template-columns: 1;
        grid-template-rows: 1;
        .GradientS1Mobile {
            grid-column-start: 1;
            grid-row-start: 1;
        }
        .GradientS1Comp {
            display: none;
        }
        .S1TextContainer {
            grid-column-start: 1;
            grid-row-start: 1;
            display: grid;
            grid-template-rows: 13% 34% 53%;
            .S1Text {
                grid-column-start: 1;
                grid-row-start: 2;
                padding-left: 1.3rem;
                span {
                    color: white;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 600;
                    font-size: 8.2vw;
                    white-space: nowrap;
                 }
            }
        }
        
        }
        .ButtonContainerS1 {
        padding-top: 4vw;

        .Button {
        padding-top: 2.5vw;
        padding-bottom: 2.5vw;
        font-size: 4vw!important;
        padding-left: 3vw!important;
        padding-right: 3vw!important;
        .Arrow {
            font-size: 4vw!important;
        }
    }
        }
    }
}
@include media-breakpoint-up(lg) { 
    .BlogMain {
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 1;
        .GradientS1Mobile {
           display: none!important;
        }
        .GradientS1Comp {
            display: block!important;
            grid-column-start: 1;
            grid-row-start: 1;
        }
        .S1TextContainer {
            grid-column-start: 1;
            grid-row-start: 1;
            display: grid;
            grid-template-rows: 25% 50% 25%!important;
            .S1Text {
                grid-column-start: 1;
                grid-row-start: 2;
                padding-left: 3rem;
                span {
                    color: white;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 600;
                    font-size: 5.2rem!important;
                    white-space: nowrap;
                    padding-bottom: 1rem;
                }
            }
        }
        .ButtonContainerS1 {
            padding-top: 0.3rem;
            .Button {
            font-size: 1.3rem!important;    
            padding-left: 0.4!important;
            padding-right: 0.4!important;
            padding-top: 1.3rem!important;
            padding-bottom: 1.3rem!important;
            .Arrow {
                font-size: 1.3rem!important;
            }
            }
        }
        
    }

}
