:root {
  --swiper-navigation-color: #D78D00;
  --swiper-theme-color: #D78D00;
}

html {
  scroll-behavior: smooth;
}

.swiper-container {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  background-color: black;
  /*this gives the dimension of slider container*/
  /*these values will make the container as big as the parent div*/
  overflow: hidden;
  /*important parameter to not disrupt the container when slides increases in coverflow and other effect*/
}

.swiper-slide {
  width: 300px;
  height: 300px;
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
  /*this one holds the dimension of each slides and can be changed according to the user wish*/
}

.swiper-slide img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  border: 5px solid #D78D00;
}

.S1 {
  scroll-behavior: smooth;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1;
      grid-template-columns: 1;
  -ms-grid-rows: 1;
      grid-template-rows: 1;
}

.S1 .GradientS1Mobile {
  display: none !important;
}

.S1 .GradientS1Comp {
  display: block !important;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.S1 .S1TextContainer {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 25% 50% 25% !important;
      grid-template-rows: 25% 50% 25% !important;
}

.S1 .S1TextContainer .S1Text {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 2;
      grid-row-start: 2;
  padding-left: 3rem;
}

.S1 .S1TextContainer .S1Text span {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 6rem !important;
  white-space: nowrap;
  padding-bottom: 1rem;
}

.S1 .ButtonContainerS1 {
  padding-top: 0.3rem;
}

.S1 .ButtonContainerS1 .Button {
  font-size: 1.3rem !important;
  padding-left: 0.4 !important;
  padding-right: 0.4 !important;
  padding-top: 1.3rem !important;
  padding-bottom: 1.3rem !important;
}

.S1 .ButtonContainerS1 .Button .Arrow {
  font-size: 1.3rem !important;
}

.S2 {
  scroll-behavior: smooth;
  padding: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.S2 .Slide {
  text-align: center;
}

.OurTeamS3Container {
  scroll-behavior: smooth;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(50%, #848484), to(#000000));
  background-image: linear-gradient(to bottom, #000000 0%, #848484 50%, #000000 100%);
  color: white;
  padding: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1;
      grid-template-columns: 1;
  row-gap: 4rem;
}

.OurTeamS3Container .anchor {
  display: block;
  height: 200px;
  /*same height as header*/
  margin-top: -200px;
  /*same height as header*/
  visibility: hidden;
}

.OurTeamS3Container #Fraser {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.OurTeamS3Container #Simpson {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

.OurTeamS3Container #Harris {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 3;
      grid-row-start: 3;
}

.OurTeamS3Container #Saha {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 4;
      grid-row-start: 4;
}

.OurTeamS3Container #Knox {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 5;
      grid-row-start: 5;
}

.OurTeamS3Container #Tanweer {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 6;
      grid-row-start: 6;
}

.OurTeamS3Container #Shahadat {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 7;
      grid-row-start: 7;
}

.OurTeamS3Container #Lazar {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 8;
      grid-row-start: 8;
}

.OurTeamS3Container #Jones {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 9;
      grid-row-start: 9;
}

.OurTeamS3Container #Vithalan {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 10;
      grid-row-start: 10;
}

.OurTeamS3Container #Jimena {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 11;
      grid-row-start: 11;
}

.OurTeamS3Container #Abdelhaliem {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 12;
      grid-row-start: 12;
}

.OurTeamS3Container div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1;
      grid-template-columns: 1;
  -ms-grid-rows: 300px 1fr;
      grid-template-rows: 300px 1fr;
  font-family: "Montserrat", sans-serif;
  position: relative;
  text-align: center;
}

.OurTeamS3Container div span {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 2;
      grid-row-start: 2;
  font-weight: 700;
  font-size: 1.4rem;
}

.OurTeamS3Container div div {
  display: block;
  text-align: center;
}

.OurTeamS3Container div div img {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  border: 5px solid #D78D00;
}

.OurTeamS3Container div p {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

@media screen and (min-width: 650px) {
  .swiper-container {
    width: 100%;
    height: 100%;
    background-color: black;
    /*this gives the dimension of slider container*/
    /*these values will make the container as big as the parent div*/
    overflow: hidden;
    /*important parameter to not disrupt the container when slides increases in coverflow and other effect*/
  }
  .swiper-slide {
    width: 300px;
    height: 300px;
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
    /*this one holds the dimension of each slides and can be changed according to the user wish*/
  }
  .swiper-slide img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 5px solid #D78D00;
  }
  .S1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1;
        grid-template-columns: 1;
    -ms-grid-rows: 1;
        grid-template-rows: 1;
  }
  .S1 .GradientS1Mobile {
    display: none !important;
  }
  .S1 .GradientS1Comp {
    display: block !important;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
  .S1 .S1TextContainer {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 1;
        grid-row-start: 1;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 25% 50% 25% !important;
        grid-template-rows: 25% 50% 25% !important;
  }
  .S1 .S1TextContainer .S1Text {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 2;
        grid-row-start: 2;
    padding-left: 3rem;
  }
  .S1 .S1TextContainer .S1Text span {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 6rem !important;
    white-space: nowrap;
    padding-bottom: 1rem;
  }
  .S1 .ButtonContainerS1 {
    padding-top: 0.3rem;
  }
  .S1 .ButtonContainerS1 .Button {
    font-size: 1.3rem !important;
    padding-left: 0.4 !important;
    padding-right: 0.4 !important;
    padding-top: 1.3rem !important;
    padding-bottom: 1.3rem !important;
  }
  .S1 .ButtonContainerS1 .Button .Arrow {
    font-size: 1.3rem !important;
  }
  .S2 {
    padding: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .S2 .Slide {
    text-align: center;
  }
  .OurTeamS3Container {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(50%, #848484), to(#000000));
    background-image: linear-gradient(to bottom, #000000 0%, #848484 50%, #000000 100%);
    color: white;
    padding: 3rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1;
        grid-template-columns: 1;
    row-gap: 4rem;
  }
  .OurTeamS3Container .anchor {
    display: block;
    height: 200px;
    /*same height as header*/
    margin-top: -200px;
    /*same height as header*/
    visibility: hidden;
  }
  .OurTeamS3Container #Fraser {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
  .OurTeamS3Container #Simpson {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  .OurTeamS3Container #Harris {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 3;
        grid-row-start: 3;
  }
  .OurTeamS3Container #Saha {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 4;
        grid-row-start: 4;
  }
  .OurTeamS3Container #Knox {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 5;
        grid-row-start: 5;
  }
  .OurTeamS3Container #Tanweer {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 6;
        grid-row-start: 6;
  }
  .OurTeamS3Container #Shahadat {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 7;
        grid-row-start: 7;
  }
  .OurTeamS3Container #Lazar {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 8;
        grid-row-start: 8;
  }
  .OurTeamS3Container #Jones {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 9;
        grid-row-start: 9;
  }
  .OurTeamS3Container #Vithalan {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 10;
        grid-row-start: 10;
  }
  .OurTeamS3Container #Jimena {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 11;
        grid-row-start: 11;
  }
  .OurTeamS3Container #Abdelhaliem {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 12;
        grid-row-start: 12;
  }
  .OurTeamS3Container div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px 1fr;
        grid-template-columns: 300px 1fr;
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
    font-family: "Montserrat", sans-serif;
    position: relative;
    text-align: left;
  }
  .OurTeamS3Container div span {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
    font-weight: 700;
    font-size: 1.4rem;
  }
  .OurTeamS3Container div img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 5px solid #D78D00;
  }
  .OurTeamS3Container div p {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
}

@media screen and (min-width: 1300px) {
  .swiper-container {
    width: 100%;
    height: 100%;
    background-color: black;
    /*this gives the dimension of slider container*/
    /*these values will make the container as big as the parent div*/
    overflow: hidden;
    /*important parameter to not disrupt the container when slides increases in coverflow and other effect*/
  }
  .swiper-slide {
    width: 300px;
    height: 300px;
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
    /*this one holds the dimension of each slides and can be changed according to the user wish*/
  }
  .swiper-slide img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 5px solid #D78D00;
  }
  .S1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1;
        grid-template-columns: 1;
    -ms-grid-rows: 1;
        grid-template-rows: 1;
  }
  .S1 .GradientS1Mobile {
    display: none !important;
  }
  .S1 .GradientS1Comp {
    display: block !important;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
  .S1 .S1TextContainer {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 1;
        grid-row-start: 1;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 25% 50% 25% !important;
        grid-template-rows: 25% 50% 25% !important;
  }
  .S1 .S1TextContainer .S1Text {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 2;
        grid-row-start: 2;
    padding-left: 3rem;
  }
  .S1 .S1TextContainer .S1Text span {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 6rem !important;
    white-space: nowrap;
    padding-bottom: 1rem;
  }
  .S1 .ButtonContainerS1 {
    padding-top: 0.3rem;
  }
  .S1 .ButtonContainerS1 .Button {
    font-size: 1.3rem !important;
    padding-left: 0.4 !important;
    padding-right: 0.4 !important;
    padding-top: 1.3rem !important;
    padding-bottom: 1.3rem !important;
  }
  .S1 .ButtonContainerS1 .Button .Arrow {
    font-size: 1.3rem !important;
  }
  .S2 {
    padding: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .S2 .Slide {
    text-align: center;
  }
  .OurTeamS3Container {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(50%, #848484), to(#000000));
    background-image: linear-gradient(to bottom, #000000 0%, #848484 50%, #000000 100%);
    color: white;
    padding: 3rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 45% 45%;
        grid-template-columns: 45% 45%;
    grid-column-gap: 10%;
    row-gap: 4rem;
  }
  .OurTeamS3Container .anchor {
    display: block;
    height: 200px;
    /*same height as header*/
    margin-top: -200px;
    /*same height as header*/
    visibility: hidden;
  }
  .OurTeamS3Container #Fraser {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
  .OurTeamS3Container #Simpson {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
  .OurTeamS3Container #Harris {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  .OurTeamS3Container #Saha {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  .OurTeamS3Container #Knox {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 3;
        grid-row-start: 3;
  }
  .OurTeamS3Container #Tanweer {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 3;
        grid-row-start: 3;
  }
  .OurTeamS3Container #Shahadat {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 4;
        grid-row-start: 4;
  }
  .OurTeamS3Container #Lazar {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 4;
        grid-row-start: 4;
  }
  .OurTeamS3Container #Jones {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 5;
        grid-row-start: 5;
  }
  .OurTeamS3Container #Vithalan {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 5;
        grid-row-start: 5;
  }
  .OurTeamS3Container #Jimena {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 6;
        grid-row-start: 6;
  }
  .OurTeamS3Container #Abdelhaliem {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 6;
        grid-row-start: 6;
  }
  .OurTeamS3Container div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px 1fr;
        grid-template-columns: 300px 1fr;
    -ms-grid-rows: 1;
        grid-template-rows: 1;
    font-family: "Montserrat", sans-serif;
    position: relative;
  }
  .OurTeamS3Container div span {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
    font-weight: 700;
    font-size: 1.4rem;
  }
  .OurTeamS3Container div div {
    text-align: left;
  }
  .OurTeamS3Container div div img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 5px solid #D78D00;
  }
  .OurTeamS3Container div p {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
}
/*# sourceMappingURL=OurTeam.css.map */