@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins/_breakpoints";
@import "../customVariables";

:root {
    --swiper-navigation-color: #D78D00;
    --swiper-theme-color: #D78D00;
}

@include media-breakpoint-up(xs) {
    html {
        scroll-behavior: smooth;
    }
    .swiper-container {
        scroll-behavior: smooth;
        width: 100%;
        height: 100%;
        background-color: black;
        /*this gives the dimension of slider container*/
        /*these values will make the container as big as the parent div*/
        overflow: hidden;
        /*important parameter to not disrupt the container when slides increases in coverflow and other effect*/
        }
        .swiper-slide {
        width:300px;
        height:300px;
        padding-top: 4rem;
        padding-bottom: 4rem;
        text-align: center;
        /*this one holds the dimension of each slides and can be changed according to the user wish*/
        img {
        width: 250px;
        height: 250px;
        border-radius: 100%;
        border: 5px solid $DarkOrange;
        }
        }
        
    .S1 {
        scroll-behavior: smooth;
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 1;
        .GradientS1Mobile {
           display: none!important;
        }
        .GradientS1Comp {
            display: block!important;
            grid-column-start: 1;
            grid-row-start: 1;
        }
        .S1TextContainer {
            grid-column-start: 1;
            grid-row-start: 1;
            display: grid;
            grid-template-rows: 25% 50% 25%!important;
            .S1Text {
                grid-column-start: 1;
                grid-row-start: 2;
                padding-left: 3rem;
                span {
                    color: white;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 600;
                    font-size: 6rem!important;
                    white-space: nowrap;
                    padding-bottom: 1rem;
                }
            }
        }
        .ButtonContainerS1 {
            padding-top: 0.3rem;
            .Button {
            font-size: 1.3rem!important;    
            padding-left: 0.4!important;
            padding-right: 0.4!important;
            padding-top: 1.3rem!important;
            padding-bottom: 1.3rem!important;
            .Arrow {
                font-size: 1.3rem!important;
            }
            }
        }
        
    }
    .S2 {
        scroll-behavior: smooth;
        padding: 3rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        .Slide {
            text-align: center;
        }
    }
    .OurTeamS3Container {
        scroll-behavior: smooth;
        background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #000000),
            color-stop(0.5, #848484),
            color-stop(1, #000000)
        );
        background-image: -o-linear-gradient(bottom, #000000 0%, #848484 50%, #000000 100%);
        background-image: -moz-linear-gradient(bottom, #000000 0%, #848484 50%, #000000 100%);
        background-image: -webkit-linear-gradient(bottom, #000000 0%, #848484 50%, #000000 100%);
        background-image: -ms-linear-gradient(bottom, #000000 0%, #848484 50%, #000000 100%);
        background-image: linear-gradient(to bottom, #000000 0%, #848484 50%, #000000 100%);
        color: white;
        padding: 3rem;
        display: grid;
        grid-template-columns: 1;
        row-gap: 4rem;
        .anchor{
            display: block;
            height: 200px; /*same height as header*/
            margin-top: -200px; /*same height as header*/
            visibility: hidden;
          }
        #Fraser {
            grid-column-start: 1;
            grid-row-start: 1;
        }
        #Simpson {
            grid-column-start: 1;
            grid-row-start: 2;
        }
        #Harris {
            grid-column-start: 1;
            grid-row-start: 3;
        }
        #Saha {
            grid-column-start: 1;
            grid-row-start: 4;
        }
        #Knox {
            grid-column-start: 1;
            grid-row-start: 5;
        }
        #Tanweer {
            grid-column-start: 1;
            grid-row-start: 6;
        }
        #Shahadat {
            grid-column-start: 1;
            grid-row-start: 7;
        }
        #Lazar {
            grid-column-start: 1;
            grid-row-start: 8;
        }
        #Jones {
            grid-column-start: 1;
            grid-row-start: 9;
        }
        #Vithalan {
            grid-column-start: 1;
            grid-row-start: 10;
        }
        #Jimena {
            grid-column-start: 1;
            grid-row-start: 11;
        }
        #Abdelhaliem {
            grid-column-start: 1;
            grid-row-start: 12;
        }
        div {
            display: grid;
            grid-template-columns: 1;
            grid-template-rows: 300px 1fr;
            font-family: "Montserrat", sans-serif;
            position: relative;
            text-align: center;
            span {
                grid-column-start: 1;
                grid-row-start: 2;
                font-weight: 700;
                font-size: 1.4rem;
            }
            div {
                display: block;
                text-align: center;
                img {
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 1;
                width: 250px;
                height: 250px;
                border-radius: 100%;
                border: 5px solid $DarkOrange;
                }
            }
            
            p {
                grid-column-start: 1;
                grid-row-start: 2;
            }
        }
    }
   
}

@media screen and (min-width: 650px) {
    .swiper-container {
        width: 100%;
        height: 100%;
        background-color: black;
        /*this gives the dimension of slider container*/
        /*these values will make the container as big as the parent div*/
        overflow: hidden;
        /*important parameter to not disrupt the container when slides increases in coverflow and other effect*/
        }
        .swiper-slide {
        width:300px;
        height:300px;
        padding-top: 4rem;
        padding-bottom: 4rem;
        text-align: center;
        /*this one holds the dimension of each slides and can be changed according to the user wish*/
        img {
        width: 250px;
        height: 250px;
        border-radius: 100%;
        border: 5px solid $DarkOrange;
        }
        }
        
    .S1 {
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 1;
        .GradientS1Mobile {
           display: none!important;
        }
        .GradientS1Comp {
            display: block!important;
            grid-column-start: 1;
            grid-row-start: 1;
        }
        .S1TextContainer {
            grid-column-start: 1;
            grid-row-start: 1;
            display: grid;
            grid-template-rows: 25% 50% 25%!important;
            .S1Text {
                grid-column-start: 1;
                grid-row-start: 2;
                padding-left: 3rem;
                span {
                    color: white;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 600;
                    font-size: 6rem!important;
                    white-space: nowrap;
                    padding-bottom: 1rem;
                }
            }
        }
        .ButtonContainerS1 {
            padding-top: 0.3rem;
            .Button {
            font-size: 1.3rem!important;    
            padding-left: 0.4!important;
            padding-right: 0.4!important;
            padding-top: 1.3rem!important;
            padding-bottom: 1.3rem!important;
            .Arrow {
                font-size: 1.3rem!important;
            }
            }
        }
        
    }
    .S2 {
        padding: 3rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        .Slide {
            text-align: center;
        }
    }
    .OurTeamS3Container {
        background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #000000),
            color-stop(0.5, #848484),
            color-stop(1, #000000)
        );
        background-image: -o-linear-gradient(bottom, #000000 0%, #848484 50%, #000000 100%);
        background-image: -moz-linear-gradient(bottom, #000000 0%, #848484 50%, #000000 100%);
        background-image: -webkit-linear-gradient(bottom, #000000 0%, #848484 50%, #000000 100%);
        background-image: -ms-linear-gradient(bottom, #000000 0%, #848484 50%, #000000 100%);
        background-image: linear-gradient(to bottom, #000000 0%, #848484 50%, #000000 100%);
        color: white;
        padding: 3rem;
        display: grid;
        grid-template-columns: 1;
        row-gap: 4rem;
        .anchor{
            display: block;
            height: 200px; /*same height as header*/
            margin-top: -200px; /*same height as header*/
            visibility: hidden;
          }
        #Fraser {
            grid-column-start: 1;
            grid-row-start: 1;
        }
        #Simpson {
            grid-column-start: 1;
            grid-row-start: 2;
        }
        #Harris {
            grid-column-start: 1;
            grid-row-start: 3;
        }
        #Saha {
            grid-column-start: 1;
            grid-row-start: 4;
        }
        #Knox {
            grid-column-start: 1;
            grid-row-start: 5;
        }
        #Tanweer {
            grid-column-start: 1;
            grid-row-start: 6;
        }
        #Shahadat {
            grid-column-start: 1;
            grid-row-start: 7;
        }
        #Lazar {
            grid-column-start: 1;
            grid-row-start: 8;
        }
        #Jones {
            grid-column-start: 1;
            grid-row-start: 9;
        }
        #Vithalan {
            grid-column-start: 1;
            grid-row-start: 10;
        }
        #Jimena {
            grid-column-start: 1;
            grid-row-start: 11;
        }
        #Abdelhaliem {
            grid-column-start: 1;
            grid-row-start: 12;
        }
        div {
            display: grid;
            grid-template-columns: 300px 1fr;
            grid-template-rows: 100%;
            font-family: "Montserrat", sans-serif;
            position: relative;
            text-align: left;
            span {
                grid-column-start: 2;
                grid-row-start: 1;
                font-weight: 700;
                font-size: 1.4rem;
            }
            img {
                width: 250px;
                height: 250px;
                border-radius: 100%;
                border: 5px solid $DarkOrange;
            }
            p {
                grid-column-start: 2;
                grid-row-start: 1;
            }
        }
    }
   
}
@media screen and (min-width: 1300px) {
    .swiper-container {
        width: 100%;
        height: 100%;
        background-color: black;
        /*this gives the dimension of slider container*/
        /*these values will make the container as big as the parent div*/
        overflow: hidden;
        /*important parameter to not disrupt the container when slides increases in coverflow and other effect*/
        }
        .swiper-slide {
        width:300px;
        height:300px;
        padding-top: 4rem;
        padding-bottom: 4rem;
        text-align: center;
        /*this one holds the dimension of each slides and can be changed according to the user wish*/
        img {
        width: 250px;
        height: 250px;
        border-radius: 100%;
        border: 5px solid $DarkOrange;
        }
        }
        
    .S1 {
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 1;
        .GradientS1Mobile {
           display: none!important;
        }
        .GradientS1Comp {
            display: block!important;
            grid-column-start: 1;
            grid-row-start: 1;
        }
        .S1TextContainer {
            grid-column-start: 1;
            grid-row-start: 1;
            display: grid;
            grid-template-rows: 25% 50% 25%!important;
            .S1Text {
                grid-column-start: 1;
                grid-row-start: 2;
                padding-left: 3rem;
                span {
                    color: white;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 600;
                    font-size: 6rem!important;
                    white-space: nowrap;
                    padding-bottom: 1rem;
                }
            }
        }
        .ButtonContainerS1 {
            padding-top: 0.3rem;
            .Button {
            font-size: 1.3rem!important;    
            padding-left: 0.4!important;
            padding-right: 0.4!important;
            padding-top: 1.3rem!important;
            padding-bottom: 1.3rem!important;
            .Arrow {
                font-size: 1.3rem!important;
            }
            }
        }
        
    }
    .S2 {
        padding: 3rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        .Slide {
            text-align: center;
        }
    }
    .OurTeamS3Container {
        background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #000000),
            color-stop(0.5, #848484),
            color-stop(1, #000000)
        );
        background-image: -o-linear-gradient(bottom, #000000 0%, #848484 50%, #000000 100%);
        background-image: -moz-linear-gradient(bottom, #000000 0%, #848484 50%, #000000 100%);
        background-image: -webkit-linear-gradient(bottom, #000000 0%, #848484 50%, #000000 100%);
        background-image: -ms-linear-gradient(bottom, #000000 0%, #848484 50%, #000000 100%);
        background-image: linear-gradient(to bottom, #000000 0%, #848484 50%, #000000 100%);
        color: white;
        padding: 3rem;
        display: grid;
        grid-template-columns: 45% 45%;
        grid-column-gap: 10%;
        row-gap: 4rem;
        .anchor{
            display: block;
            height: 200px; /*same height as header*/
            margin-top: -200px; /*same height as header*/
            visibility: hidden;
          }
        #Fraser {
            grid-column-start: 1;
            grid-row-start: 1;
        }
        #Simpson {
            grid-column-start: 2;
            grid-row-start: 1;
        }
        #Harris {
            grid-column-start: 1;
            grid-row-start: 2;
        }
        #Saha {
            grid-column-start: 2;
            grid-row-start: 2;
        }
        #Knox {
            grid-column-start: 1;
            grid-row-start: 3;
        }
        #Tanweer {
            grid-column-start: 2;
            grid-row-start: 3;
        }
        #Shahadat {
            grid-column-start: 1;
            grid-row-start: 4;
        }
        #Lazar {
            grid-column-start: 2;
            grid-row-start: 4;
        }
        #Jones {
            grid-column-start: 1;
            grid-row-start: 5;
        }
        #Vithalan {
            grid-column-start: 2;
            grid-row-start: 5;
        }
        #Jimena {
            grid-column-start: 1;
            grid-row-start: 6;
        }
        #Abdelhaliem {
            grid-column-start: 1;
            grid-row-start: 6;
        }
        div {
            display: grid;
            grid-template-columns: 300px 1fr;
            grid-template-rows: 1;
            font-family: "Montserrat", sans-serif;
            position: relative;
            span {
                grid-column-start: 2;
                grid-row-start: 1;
                font-weight: 700;
                font-size: 1.4rem;
            }
            div {
                text-align: left;
              img {
                width: 250px;
                height: 250px;
                border-radius: 100%;
                border: 5px solid $DarkOrange;
            }  
            }
            
            p {
                grid-column-start: 2;
                grid-row-start: 1;
            }
        }
    }
}