@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins/_breakpoints";
@import "../customVariables";


@include media-breakpoint-up(xs) {
    .swiper-container {
        width: 100%;
        height: 100%;
        background-color: black;
        /*this gives the dimension of slider container*/
        /*these values will make the container as big as the parent div*/
        overflow: hidden;
        /*important parameter to not disrupt the container when slides increases in coverflow and other effect*/
        }
        .swiper-slide {
        width:300px;
        height:300px;
        padding-top: 4rem;
        padding-bottom: 4rem;
        text-align: center;
        /*this one holds the dimension of each slides and can be changed according to the user wish*/
        }
    .S1 {
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 1;
        .GradientS1Mobile {
            grid-column-start: 1;
            grid-row-start: 1;
        }
        .GradientS1Comp {
            display: none;
        }
        .S1TextContainer {
            grid-column-start: 1;
            grid-row-start: 1;
            display: grid;
            grid-template-rows: 13% 34% 53%;
            .S1Text {
                grid-column-start: 1;
                grid-row-start: 2;
                padding-left: 1.3rem;
                span {
                    color: white;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 600;
                    font-size: 10vw;
                    white-space: nowrap;
                }
            }
        }
        .ButtonContainerS1 {
        padding-top: 4vw;

        .Button {
        padding-top: 2.5vw;
        padding-bottom: 2.5vw;
        font-size: 4vw!important;
        padding-left: 3vw!important;
        padding-right: 3vw!important;
        .Arrow {
            font-size: 4vw!important;
        }
    }
        }
        
    }
}

@include media-breakpoint-up(lg){
    .swiper-container {
        width: 100%;
        height: 100%;
        background-color: black;
        /*this gives the dimension of slider container*/
        /*these values will make the container as big as the parent div*/
        overflow: hidden;
        /*important parameter to not disrupt the container when slides increases in coverflow and other effect*/
        }
        .swiper-slide {
        width:300px;
        height:300px;
        padding-top: 4rem;
        padding-bottom: 4rem;
        text-align: center;
        /*this one holds the dimension of each slides and can be changed according to the user wish*/
        }
        
    .S1 {
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 1;
        .GradientS1Mobile {
           display: none!important;
        }
        .GradientS1Comp {
            display: block!important;
            grid-column-start: 1;
            grid-row-start: 1;
        }
        .S1TextContainer {
            grid-column-start: 1;
            grid-row-start: 1;
            display: grid;
            grid-template-rows: 25% 50% 25%!important;
            .S1Text {
                grid-column-start: 1;
                grid-row-start: 2;
                padding-left: 3rem;
                span {
                    color: white;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 600;
                    font-size: 6rem!important;
                    white-space: nowrap;
                    padding-bottom: 1rem;
                }
            }
        }
        .ButtonContainerS1 {
            padding-top: 0.3rem;
            .Button {
            font-size: 1.3rem!important;    
            padding-left: 0.4!important;
            padding-right: 0.4!important;
            padding-top: 1.3rem!important;
            padding-bottom: 1.3rem!important;
            .Arrow {
                font-size: 1.3rem!important;
            }
            }
        }
        
    }
    .S2 {
        padding: 3rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        .Slide {
            text-align: center;
        }
    }
}